/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  padding-top: 70px;
}

h2 {
  margin: 0 0 20px 0;
}

.grid {
  min-height: 512px;

  .label {
    margin: 0 2px;
  }
}



.well {
  clear: both;
}
/******Cards Page************/
.searchField{
    display: inline-block;
    margin-bottom: 30px;
    label{
      @extend .col-md-4;
      @extend .col-sm-6;
      @extend .col-xs-12;
      input{
        float: right;
      }
    }
}
@mixin tablet{
  @media (min-width: #{$screen-xs}) and (max-width: #{$screen-md}) {
    display: grid;
    .card{
      margin: 0 auto;
    }
  }
}
.card-container{
  @include tablet();
}

$main-color: rgba(255, 255, 255, 1);
$secondary-color: rgba(33, 31, 32, 1);
.card{
    @extend .col-md-5;
    @extend .col-sm-8;
    @extend .col-xs-12;
    max-width: 460px;
    &:nth-child(2n){
      @extend .col-md-offset-1;
    }
    .flipper{
      position: relative;
      -webkit-transition: 2s ease-in-out;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 2s ease-in-out;
      -moz-transform-style: preserve-3d;
      -o-transition: 2s ease-in-out;
      -o-transform-style: preserve-3d;
      transition: 2s ease-in-out;
      transform-style: preserve-3d; 
      .front, .back{
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -o-backface-visibility: hidden;
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
      }
      .front{
        position:relative;
        z-index: 2;
        color: $secondary-color;
        margin-bottom: 40px;
        box-shadow: 10px 10px 10px rgba(33, 31, 32, 1);
        background: $main-color;
        a{
            color:$secondary-color;
            &:hover{
            text-decoration: none;
            }
        }
        h1 {
            color: $main-color;
            font-family: Roboto;
            display: block;
            width: 100%;
            height: 100px;
            font-size: 36px;
            background: $secondary-color;
            text-transform: uppercase;
            font-weight: normal;
            line-height: 100px;
            text-align: center;
        }
        .card-detail{
            margin-bottom: 5px;
            display: flex;
            width:90%;
            margin: 0 auto;
          
            .form-control-static{
                @extend .col-xs-12;
                span{
                  display: inline-block;
                }
            }
            .company{
                font-size: 20px;
                font-family: fantasy;
                letter-spacing: 3px;
            }
        }
        .tags{
            height: 4em;
        }
      }
      .back{
        position:absolute;
        top: 0;
        transform: rotateY(180deg);
        height: 100%;
        width: 100%;
        color: $main-color;
        margin-bottom: 40px;
        box-shadow: 10px 10px 10px rgba(33, 31, 32, 1);
        background: $secondary-color;
        display: flex;
        align-items: center;
        .wrapper{
          margin: 0 auto;
          width: 90%;
          .card-detail{
            margin-bottom: 5px;
            display: flex;
              .control-label{
                  @extend .col-xs-3;
                  text-align: right;
                  margin-bottom: 0;
                  padding-top: 7px
              }
              .form-control-static{
                  @extend .col-xs-9;
                  text-align: justify;
              }
          }
          .about{
            height: 79%;
            overflow: hidden;
          }
        }
        
      }
    }
    &:hover .flipper{
      cursor: pointer;
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
